
.section#portfolio {
    scroll-margin-top: 25vh; 
    scroll-behavior: smooth;
}

.portfolio-card {
    background: #12121f;
    border-radius: 12px;
    padding: 20px;
    color: #e5e5e5;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 40px rgba(0,0,0,0.45);
}

.portfolio-card h5 {
    margin-bottom: 6px;
}

.portfolio-card p {
    font-size: 0.9rem;
    color: #b0b0c2;
}

.portfolio-card {
    position: relative;
    background: #12121f;
    border-radius: 12px;
    padding: 20px;
    color: #e5e5e5;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background-color: rgb(16, 13, 26);
    border-radius: 12px;
    padding: 2px;
}

.project-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 12px;
}

.tech-tags span {
    background: #1c1a30;
    color: #d7d7dc;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 6px;
}
.proj-action-btn {
    display: inline-block;
    margin-top: 12px;
    background: #1a1b2c;
    color: #fff;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(105, 13, 253, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #690dfd;
}

.proj-action-btn:hover {
    background: #2b2a40;
    box-shadow: 0 6px 20px rgba(105, 13, 253, 0.6);
    transform: translateY(-2px);
    color: #fff;
}


.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(12, 11, 20, 0.85);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    background: #12121f;
    padding: 24px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    color: #e5e5e5;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    position: relative;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.modal-overlay.show .modal-content {
    transform: translateY(0);
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 1.3rem;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.2s ease;
}

.modal-close:hover {
    color: #690dfd;
}

.modal-header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.modal-body {
    font-size: 0.9rem;
    line-height: 1.4rem;
}