body {
    background-color: #0f0e1a;
    color: #e5e5e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background: #3d208b;
    color: #fff;
}

::-moz-selection {
    background: #3d208b;
    color: #fff;
}

.text-muted {
    color: rgb(76 81 115 / 75%) !important;
}

.section {
    padding: 80px 0;
}